.App {
  text-align: center;
}

.Main-container {
  margin-top: 10px;
  margin-left: 250px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.my-login-form {
  width: 500px;
  height: 100%;
  margin: 50px auto;
}
.my-login-form form {
  margin-bottom: 15px;
  background: lightgray;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.my-login-form h2 {
  margin: 0 0 15px;
}
.my-form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}
.btn-login {
  font-size: 15px;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
